<div class="nav">
	<ul>
		<li>
			<a href="{{url_base}}/" title="呵呵大王看小说">首页</a>
		</li>
		<li>
			<a href="{{url_base}}/xuanhuan/" title="玄幻小说">玄幻小说</a>
		</li>
		<li>
			<a href="{{url_base}}/xianxia/" title="仙侠小说">仙侠小说</a>
		</li>
		<li>
			<a href="{{url_base}}/dushi/" title="都市小说">都市小说</a>
		</li>
		<li>
			<a href="{{url_base}}/yanqing/" title="言情小说">言情小说</a>
		</li>
		<li>
			<a href="{{url_base}}/lishi/" title="历史小说">历史小说</a>
		</li>
		<li>
			<a href="{{url_base}}/wangyou/" title="网游小说">网游小说</a>
		</li>
		<li>
			<a href="{{url_base}}/kehuan/" title="科幻小说">科幻小说</a>
		</li>
		<li>
			<a href="{{url_base}}/kongbu/" title="恐怖小说">恐怖小说</a>
		</li>
	</ul>
</div>